<html lang="en" ng-app="tutorcs">
	<head>
		<!-- metadata -->
		<meta charset="utf-8"></meta>
		<meta name="author" content="Informatics Project Group 4, Cameron Gitlaff, Tram Messerly, Conlan Murphy"></meta>

		<!-- shows on tabs and bookmarks-->
		<title>Hawkeye Homework Hackers - Create Account</title>

		<!-- set base url -->
		<base href="https://webdev.cs.uiowa.edu/~cgitzlaff/tutorCS/">
		
		<!-- These are the links to bootstrap code -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

		<!-- link to angular -->
		<script src="js/angular.min.js"></script>

		<!-- angular code we wrote -->
		<!-- tutorcs.module.js is where we define the angular app called 'tutorcs'. we use the name of the app in the html element at the top of the file -->
		<script src="js/tutorcs.module.js"></script>

		<!-- data.tutorcs.controller.js is where we are getting the data from. It defines a controller under the 'tutorcs' app called 'dataControl', and data is under $scope.data -->
		<script src="js/data.tutorcs.controller.js"></script>
		
		<!-- tutorcs.filter.js enables us to display HTML Code -->
		<script src="js/tutorcs.filter.js"></script>

		<!--link to font awesome -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<!--link to css file -->
		<link rel="stylesheet" type="text/css" href="styles/stylefile.css"/>

	</head>
	
	<body>
		<!--Nav bar -->
		<!--Hamburger collapsing System for smaller screens -->
		<!-- header links from header.html file  -->
		<div ng-include ng-controller="dataControl" ng-int="menuHightlight = 0;" src="'pages/header.html'"></div>
		
		
		
		<div class="container" ng-controller="dataControl" ng-init="checkifloggedin()" style="padding-top:50px;">
			<div class="row" ng-show="!isadmin">
				<h1>Access Denied -- Please contact a system admin</h1>
			</div>
			
			
			<!-- creating a new account is only accessible by admins eventually authentication will just be done using UIOWA Shib login -->
			<div class="row" ng-show="isadmin">
				<div class=container>
					<!-- descriptive text on what page does -->
					<h1> Create an account</h1><br>
					<p> Here you can create a username and password a user. Once their account and role is selected a professor can enroll a student in a course or a hire a tutor. If professor is selected you will need to grant the professor access when you create the course</p>
					<br>
					<p> Get started by filling out the form below</p>
				</div>
				<br>
				<br>
				
				<!-- form for creating a new account -->
				<form name="newAccountForm" novalidate>
					<!-- HawkID for account -->
					<div class="form-group" ng-class="{ 'text-danger': newAccountForm.HAWKID.$invalid && newAccountForm.HAWKID.$touched, 'text-success': !newAccountForm.HAWKID.$invalid && newAccountForm.HAWKID.$touched }">
						<label class="form-control-label" for="HAWKID">HawkID (at least 2 characters long): </label>
						<input type="text" class="form-control" ng-class="{ 'is-invalid': newAccountForm.HAWKID.$invalid && newAccountForm.HAWKID.$touched, 'is-valid': !newAccountForm.HAWKID.$invalid && newAccountForm.HAWKID.$touched }" name="HAWKID" ng-model="account.HAWKID" ng-minlength="2" id="HAWKID" required/>
						<div ng-show="newAccountForm.HAWKID.$invalid && newAccountForm.HAWKID.$touched" >The HawkID must be at least two characters long</div>
					</div>

					<!-- PASSWORD for account -->
					<div class="form-group" ng-class="{'text-danger': newAccountForm.PASSWORD.$invalid && newAccountForm.PASSWORD.$touched, 'text-success': !newAccountForm.PASSWORD.$invalid && newAccountForm.PASSWORD.$touched }">
						<label class="form-control-label" for="PASSWORD">Password (at least 6 characters long): </label>
						<input type="PASSWORD" class="form-control" ng-class="{ 'is-invalid': newAccountForm.PASSWORD.$invalid && newAccountForm.PASSWORD.$touched, 'is-valid': !newAccountForm.PASSWORD.$invalid && newAccountForm.PASSWORD.$touched }" name="PASSWORD" ng-model="account.PASSWORD" ng-minlength="6" id="PASSWORD" required/>
						<div ng-show="newAccountForm.PASSWORD.$invalid && newAccountForm.PASSWORD.$touched" >The password must be at least six characters long</div>
					</div>


					<!-- Email for account -->
					<div class="form-group" ng-class="{ 'text-danger': newAccountForm.EMAIL.$invalid && newAccountForm.EMAIL.$touched, 'text-success': !newAccountForm.EMAIL.$invalid && newAccountForm.EMAIL.$touched }">
						<label class="form-control-label" for="EMAIL">University of Iowa Email</label>
						
						<input type="text" class="form-control" ng-class="{ 'is-invalid': newAccountForm.EMAIL.$invalid && newAccountForm.EMAIL.$touched, 'is-valid': !newAccountForm.EMAIL.$invalid && newAccountForm.EMAIL.$touched }" name="EMAIL" ng-model="account.EMAIL" ng-minlength="13" id="EMAIL" required/>
						<div ng-show="newAccountForm.EMAIL.$invalid && newAccountForm.EMAIL.$touched" >You did not enter a valid university of Iowa Email</div>
					</div>
					
					
					<!-- First name for account -->
					<div class="form-group" ng-class="{'text-danger': newAccountForm.FIRST_NAME.$invalid && newAccountForm.FIRST_NAME.$touched, 'text-success': !newAccountForm.FIRST_NAME.$invalid && newAccountForm.FIRST_NAME.$touched }">
						<label class="form-control-label" for="FIRST_NAME">First Name</label>
						
						<input type="text" class="form-control" ng-class="{ 'is-invalid': newAccountForm.FIRST_NAME.$invalid && newAccountForm.FIRST_NAME.$touched, 'is-valid': !newAccountForm.FIRST_NAME.$invalid && newAccountForm.FIRST_NAME.$touched }" name="FIRST_NAME" ng-model="account.FIRST_NAME" ng-minlength="1" id="FIRST_NAME" required/>
						<div ng-show="newAccountForm.FIRST_NAME.$invalid && newAccountForm.FIRST_NAME.$touched" >You did not enter a valid first name</div>
					</div>

					<!-- Last name for account -->
					<div class="form-group" ng-class="{ 'text-danger': newAccountForm.LAST_NAME.$invalid && newAccountForm.LAST_NAME.$touched, 'text-success': !newAccountForm.LAST_NAME.$invalid && newAccountForm.LAST_NAME.$touched }">
						<label class="form-control-label" for="LAST_NAME">Last Name</label>
						
						<input type="text" class="form-control" ng-class="{ 'is-invalid': newAccountForm.LAST_NAME.$invalid && newAccountForm.LAST_NAME.$touched, 'is-valid': !newAccountForm.LAST_NAME.$invalid && newAccountForm.LAST_NAME.$touched }" name="LAST_NAME" ng-model="account.LAST_NAME" ng-minlength="1" id="LAST_NAME" required/>
						<div ng-show="newAccountForm.LAST_NAME.$invalid && newAccountForm.LAST_NAME.$touched" >You did not enter a valid last name</div>
					</div>
					
					<!-- role for account -->
					<div class="form-group">
						<label class="form-control-label" for="ROLE"> Select a user role</label>
						<br>						
						<input type="radio" ng-model="account.ROLE" value="STUDENT">Student &nbsp
						<input type="radio" ng-model="account.ROLE" value="TUTOR">Tutor &nbsp
						<input type="radio" ng-model="account.ROLE" value="STUDENTTUTOR">Student/Tutor &nbsp
						<input type="radio" ng-model="account.ROLE" value="PROFESSOR">Professor &nbsp
						<input type="radio" ng-model="account.ROLE" value="ADMIN">Admin &nbsp
						<input type="radio" ng-model="account.ROLE" value="PROFESSORADMIN">Professor/Admin &nbsp
					 </div>

					<!-- newAccount is a function in the data.tutorcscontroller. account refers to the word we used under ng-model in the input fields -->
					<br>
					<br>
					<button class="btn btn-success btn-lg" ng-click="newAccount(account)" ng-disabled="newAccountForm.$invalid">Add account</button>
				</form>
			</div>
		</div>
		<!-- include footer.html-->
		<div ng-include src="'pages/footer.html'"></div>
	</body>
</html>
