<!doctype html>
<!-- ng-app"tutorCS" defines the angular app that we are using, the name is defined under the tutorcs.module.js -->
<html lang="en" ng-app="tutorcs">
	<head>
		<!-- metadata -->
		<meta charset="utf-8"></meta>
		<meta name="author" content="Informatics Project Group 4, Cameron Gitlaff, Tram Messerly, Conlan Murphy"></meta>

		<!-- shows on tabs and bookmarks-->
		<title>Hawkeye Homework Hackers - Accounts</title>

		<!-- set base url -->
		<base href="https://webdev.cs.uiowa.edu/~cgitzlaff/tutorCS/">
		
		<!-- These are the links to bootstrap code -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>


		<!-- link to angular -->
		<script src="js/angular.min.js"></script>

		<!-- angular code we wrote -->
		<!-- tutorcs.module.js is where we define the angular app called 'tutorcs'. we use the name of the app in the html element at the top of the file -->
		<script src="js/tutorcs.module.js"></script>

		<!-- data.tutorcs.controller.js is where we are getting the data from. It defines a controller under the 'tutorcs' app called 'dataControl', and data is under $scope.data -->
		<script src="js/data.tutorcs.controller.js"></script>
		
		<!-- dataprofile.tutorcs.controller.js is where we are getting data from. It defines a controller under the 'tutorcs' app called 'profileDataControl', and data is under $scope.data -->
		<script src="js/dataprofile.tutorcs.controller.js"></script>
		
		<!-- tutorcs.filter.js enables us to display HTML Code -->
		<script src="js/tutorcs.filter.js"></script>

		<!--link to font awesome -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<!--link to css file -->
		<link rel="stylesheet" type="text/css" href="styles/stylefile.css">

	</head>
	<body>
		<!--Nav bar -->
		<!--Hamburger collapsing System for smaller screens -->
		<div class="container" ng-init="checkifloggedin()">
			<!-- header links from header.html file  -->
			<div ng-include ng-int="menuHightlight = 0;" src="'pages/header.html'"></div>
			
			<div class="container" ng-controller="profileDataControl">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">HawkID</th>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">Email</th>
							<th scope="col">Role</th>
							<th scope="col">View/Edit/Delete</th>
						</tr>
					</thead>
					
					
					<tbody ng-repeat="user in data.value.allinfo | filter:query">
						<!-- R E A D    M O D E -->
						<div ng-if="!getEditMode(user)">
							<th scope="row"> {{user.HAWKID}} </th>
							<td>{{user.FIRSTNAME}}</td>
							<td>{{user.LASTNAME}}</td>
							<td>{{user.EMAIL}}</td>
							<td>{{user.ROLE}}</td>
							<td>
								<!-- view more info on user -->
								<button class="btn btn-success" data-toggle="collapse" data-target="#accountDetails">
									<span class="glyphicon glyphicon-eye-open">
								</button>
								
								<!-- edit user -->
								<button class="btn btn-primary" data-toggle="modal" data-target="#myModal" >
									<!-- ng-click="setEditMode(true, user)" ng-disabled="edituser != null"-->
									<span class="glyphicon glyphicon-pencil">
								</button>
									
								<!-- delete user -->
								<button class="btn btn-danger" ng-click="deleteUser(user.FIRSTNAME, user.HAWKID)" ng-disabled="isAdmin">
									<span class="glyphicon glyphicon-trash">
								</button>
							</td>
					</tbody>	
				</table>
			</div>

			<!-- Footer -->
			<div ng-include src="'pages/footer.html'"></div>
		</div>
	</body>
</html>
