<html lang="en" ng-app="tutorcs">
	<head>
		<!-- metadata -->
		<meta charset="utf-8"></meta>
		<meta name="author" content="Informatics Project Group 4, Cameron Gitlaff, Tram Messerly, Conlan Murphy"></meta>

		<!-- shows on tabs and bookmarks-->
		<title>Hawkeye Homework Hackers - Create New Tutoring Session</title>

		<!-- set base url -->
		<base href="https://webdev.cs.uiowa.edu/~cgitzlaff/tutorCS/">
		
		<!-- These are the links to bootstrap code -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

		<!-- link to angular -->
		<script src="js/angular.min.js"></script>

		<!-- angular code we wrote -->
		<!-- tutorcs.module.js is where we define the angular app called 'tutorcs'. we use the name of the app in the html element at the top of the file -->
		<script src="js/tutorcs.module.js"></script>

		<!-- data.tutorcs.controller.js is where we are getting the data from. It defines a controller under the 'tutorcs' app called 'dataControl', and data is under $scope.data -->
		<script src="js/data.tutorcs.controller.js"></script>
		<script src="js/dataavail.tutorcs.controller.js"></script>
		
		
		<!-- tutorcs.filter.js enables us to display HTML Code -->
		<script src="js/tutorcs.filter.js"></script>

		<!--link to font awesome -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<!--link to css file -->
		<link rel="stylesheet" type="text/css" href="styles/stylefile.css"/>

	</head>
	
	<body>
		<!--Nav bar -->
		<!--Hamburger collapsing System for smaller screens -->
		<!-- header links from header.html file  -->
		<div ng-include ng-controller="dataControl" ng-int="menuHightlight = 4;" src="'pages/header.html'"></div>
		
		
		
		<div class="container" ng-controller="dataControl" ng-init="checkifloggedin()" style="padding-top:50px;">
			<div class="row" ng-show="!istutor">
				<h1>Access Denied -- you must be a tutor to view this page</h1>
			</div>
			
			
			<!-- creating a new account is only accessible by admins eventually authentication will just be done using UIOWA Shib login -->
			<div class="row" ng-show="istutor">
				<div class=container>
					<!-- descriptive text on what page does -->
					<h1> Create an Open Tutoring Session</h1><br>
					<p> Here you can create individual tutoring sessions that are available for students to reserve with you </p>
					<br>
					<p> Get started by filling out the form below</p>
				</div>
			</div>
		</div>
		<br>
		<div class="container" ng-controller="availControl" ng-init="checkifloggedin()" style="padding-left: 50px">
			<!-- form for entering new avail -->
			<form  name="newSessionForm" novalidate>
				
				

				<!-- tutors can select their course to set up for course -->
				<div class = "form-group-lg">		
					<label for="courseSelect"> <h4>Select Course:</h4></label>
					<select id="courseSelect" ng-model="avail.COURSE_ID">
						<option ng-repeat="course in data.tutorCourses" value="{{course.COURSE_ID}}">{{course.COURSE_NAME}} &nbsp ({{course.SEMESTER}})</option>
					</select>
				</div> 
				<br>
				<br>
				<div class = "form-group-lg">
					<label for="DATE"><h4>Pick Available Date:</h4></label><br>
					<input type="date" id="DATE" name="DATE" ng-model="avail.DATE" required />
					 <!-- TIME_START -->
				</div> 
				<br>
				<br>
				<!-- START TIME for account -->
				<div class="form-group" ng-class="{ 'text-danger': newSessionForm.TIME.$invalid && newSessionForm.TIME.$touched, 'text-success': !newSessionForm.TIME.$invalid && newSessionForm.TIME.$touched }">
					<label class="form-control-label" for="TIME">
						<h4>Start Time:</h4>
						<p>Time must be made in Military Time HH:mm </p>
					
					</label>
					<input type="text" class="form-control" ng-class="{ 'is-invalid': newSessionForm.TIME.$invalid && newSessionForm.TIME.$touched, 'is-valid': !newSessionForm.TIME.$invalid && newSessionForm.TIME.$touched }" name="TIME" ng-model="avail.TIME" style="width: 150px" ng-length="5" id="TIME" required/>
					<div ng-show="newSessionForm.TIME.$invalid && newSessionForm.TIME.$touched" >The time must be valid</div>
				</div>
				
				<!-- START TIME for account -->
				<div class="form-group" ng-class="{ 'text-danger': newSessionForm.TIMEEND.$invalid && newSessionForm.TIMEEND.$touched, 'text-success': !newSessionForm.TIMEEND.$invalid && newSessionForm.TIMEEND.$touched }">
					<label class="form-control-label" for="TIMEEND">
						<h4>End Time:</h4>
						<p>Sessions must be made in Military Time HH:mm </p>
						<p>Please Limit Session Length to 30 minutes</p>
					</label>
					<input type="text" class="form-control" ng-class="{ 'is-invalid': newSessionForm.TIMEEND.$invalid && newSessionForm.TIMEEND.$touched, 'is-valid': !newSessionForm.TIMEEND.$invalid && newSessionForm.TIMEEND.$touched }" name="TIMEEND" ng-model="avail.TIMEEND" style="width: 150px" ng-length="5" id="TIMEEND" required/>
					<div ng-show="newSessionForm.TIMEEND.$invalid && newSessionForm.TIMEEND.$touched" >The time must be valid</div>
				</div>
				<br><br>

				<!-- newSession is a function in the controller. avail refers to the word we used under ng-model in the input fields -->
				<button class="btn btn-success"  ng-click="newSession(avail)" ng-disabled="newSessionForm.$invalid">Add availability</button>

			</form>	
		</div>
		<!-- include footer.html-->
		<div ng-include src="'pages/footer.html'"></div>
	</body>
</html>





