<!doctype html>
<!-- ng-app"tutorCS" defines the angular app that we are using, the name is defined under the tutorcs.module.js -->
<html lang="en" ng-app="tutorcs">
	<head>
		<!-- metadata -->
		<meta charset="utf-8"></meta>
		<meta name="author" content="Informatics Project Group 4, Cameron Gitlaff, Tram Messerly, Conlan Murphy"></meta>

		<!-- shows on tabs and bookmarks-->
		<title>Hawkeye Homework Hackers - Header</title>

		<!-- set base url -->
		<base href="https://webdev.cs.uiowa.edu/~cgitzlaff/tutorCS/">
		
		<!-- These are the links to bootstrap code -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>


		<!-- link to angular -->
		<script src="js/angular.min.js"></script>

		<!-- angular code we wrote -->
		<!-- tutorcs.module.js is where we define the angular app called 'tutorcs'. we use the name of the app in the html element at the top of the file -->
		<script src="js/tutorcs.module.js"></script>

		<!-- data.tutorcs.controller.js is where we are getting the data from. It defines a controller under the 'tutorcs' app called 'dataControl', and data is under $scope.data -->
		<script src="js/data.tutorcs.controller.js"></script>
		
		<!-- tutorcs.filter.js enables us to display HTML Code -->
		<script src="js/tutorcs.filter.js"></script>

		<!--link to font awesome -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<!--link to css file -->
		<!--<link rel="stylesheet" type="text/css" href="styles/stylefile.css"/>-->
	</head>
	<body>
		
		<!--new nav bars!!-->
		<!--top header -->
		<nav class="navbar navbar-inverse navbar-fixed-top" ng-init="checkifloggedin()" id="universal-navbar">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#shared-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="http://www.uiowa.edu/" tabindex="1" title="The University of Iowa Homepage">
						<img src="https://webdev.cs.uiowa.edu/~cgitzlaff/tutorCS/images/UILogo.png" width="210" height="30">
						<!--<i style="font-size: 1.4em; color: white;" class="fa ui-glyph-icon-domewordsingle text-branded"></i>-->
					</a>
				</div>
				<div class="collapse navbar-collapse" id="shared-navbar-collapse">
					<ul class="nav navbar-nav navbar-right" style="padding-top: 15px; padding-bottom: 0">
						<div ng-show="!isloggedin">
							<li>
								<a class="nav-link" href="pages/login.html"><i class="fa fa-user fa-inverse"></i> Please login...</a>
							</li>
						</div>
						<div ng-show="isloggedin">
							<div ng-repeat="account in data.userinfo">
									<a class="nav-link" href="#"> Hello {{account.FIRSTNAME}} {{account.LASTNAME}} </a>
									<a href="index.html" ng-click="logout()">
										| Log out...  
									</a>
							</div>
						</div>
					</ul>
				</div>
			</div>
		</nav>
		<!--everyone gets "My Account, my courses, help, sources" tab-->
		<!--tutor gets "Tutoring Schedule" tab -->
		<!--Admin and proffessor gets "My Tutors" and "Accounts" -->
		<!--<div class="container" ng-controller="dataControl">
		<nav class="navbar navbar-light" style="background-color:#FFCD00" ng-init="checkifloggedin()">
			<div class="container-fluid">-->
		<nav class="navbar navbar-default navbar-static-top" style="background-color:#FFCD00; padding-top: 50px; margin-bottom: -5px; position: static !important;" role="navigation" id="hhh-navbar" ng-init="checkifloggedin()">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myui-navbar-collapse">
						<span class="sr-only"><h2>Toggle navigation</h2></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a title="HHH Homepage" style="padding-top: 10px; padding-bottom: 0; margin-bottom: -14px" class="navbar-brand" href="https://webdev.cs.uiowa.edu/~cgitzlaff/tutorCS/index.html"><img src="https://webdev.cs.uiowa.edu/~tmesserly/tutorCS/images/HHHLogo.png" width="60" height="60" alt="HawkeyeHomeworkHackers"></a>
				</div>
				<div class="collapse navbar-collapse" id="myui-navbar-collapse">
					<ul class="nav navbar-nav">
						<!--everyone get these menu at the index page to log in-->
						<li class="BRAND">
							<a id="menuid-brand" class="brand" title="Hawkeye Homework Hackers">HAWKEYE HOMEWORK HACKERS </a>
						</li>
						<li class="disable" ng-show="!isloggedin">
							<a id="menuid-home" href="pages/login.html" class="" title="Home">
								My Account
							</a>
						</li>
						<li class="courses" ng-show="!isloggedin">
							<a id="menuid-courses" href="pages/login.html" class="courses" title="Courses">My Courses</a>
						</li>

						<li class="help" ng-show="!isloggedin">
							<a id="menuid-help" href="pages/login.html" class="help" title="Help">Find Help</a>
						</li>

						<li class="Sources" ng-show="!isloggedin">
							<a id="menuid-sources" href="pages/login.html" class="sources" title="Resources">Other Sources</a>
						</li>

						<!--logging in as a student --> 
						<!-- student links will use ng-show="isstudent" -->
						<li class=" active" ng-show="isstudent">
							<a id="menuid-studentHome" href="#" class="" title="Home">My Account
									<div class="text-center hidden-sm hidden-xs" style="position: absolute; bottom: -9px; width: 100%; left: 0;">
										<i class="fa fa-caret-up"></i>
									</div>
							</a>
						</li>
						<li class="courses" ng-show="isstudent">
							<a id="menuid-student-courses" href="#" class="courss#" title="Courses">My Courses</a>
						</li>

						<li class="help" ng-show="isstudent">
							<a id="menuid-student-help" href="#" class="help" title="Help">Find Help</a>
						</li>

						<li class="Sources" ng-show="isstudent">
							<a id="menuid-student-sources" href="#" class="sources" title="Resources">Other Sources</a>
						</li>


						<!--Log in as a tutor --> 
						<!-- tutor links will use ng-show="istutor"
						<!--tutor gets "Tutoring Schedule" tab -->
						<!-- Dynamic header for tutors -->
						<li class=" active" ng-show="istutor">
							<a id="menuid-tutor-home" href="#" class="" title="Home">My Account
									<div class="text-center hidden-sm hidden-xs" style="position: absolute; bottom: -9px; width: 100%; left: 0;">
										<i class="fa fa-caret-up"></i>
									</div>
							</a>
						</li>
						<li class="Tutoring Schedule" ng-show="istutor">
							<a id="menuid-tutor-scheduling" href="#" class="scheduling" title="Tutoring Schedule">Schedule</a>
						</li>
						<li class="courses" ng-show="istutor">
							<a id="menuid-tutor-courses" href="#" class="courss#" title="Courses">My Courses</a>
						</li>

						<li class="help" ng-show="istutor">
							<a id="menuid-tutor-help" href="#" class="help" title="Help">Find Help</a>
						</li>

						<li class="Sources" ng-show="istutor">
							<a id="menuid-tutor-sources" href="#" class="sources" title="Resources">Other Sources</a>
						</li>


						<!--logged in as a professor -->
						<!-- professor links will use ng-show="isprofessor" -->
						<li class=" active" ng-show="isprofessor">
							<a id="menuid-prof-home" href="#" class="" title="Home">My Account
									<div class="text-center hidden-sm hidden-xs" style="position: absolute; bottom: -9px; width: 100%; left: 0;">
										<i class="fa fa-caret-up"></i>
									</div>
							</a>
						</li>
						<li class="courses" ng-show="isprofessor">
							<a id="menuid-prof-courses" href="#" class="courss#" title="Courses">My Courses</a>
						</li>
						<li class="tutors" ng-show="isprofessor">
							<a id="menuid-prof-tutor" href="#" class="tutors" title="tutors">Tutors</a>
						</li>
						<li class="Sources" ng-show="isprofessor">
							<a id="menuid-prof-sources" href="#" class="sources" title="Resources">Other Sources</a>
						</li>
						<li class="help" ng-show="isprofessor">
							<a id="menuid-prof-help" href="#" class="help" title="Help">Find Help</a>
						</li>


						<!-- admin links will use ng-show="isadmin" -->
						<!--Admin and falculty gets "My Tutors" and "Accounts"> -->
						
						<li class="Admin Home" ng-show="isadmin">
							<a id="menuid-adminAndFalcultyhome" href="pages/admin_prof/home.html" class="Accounts" title="Account Creation">Admin Home</a>
						</li>

						<li class="Account Creation" ng-show="isadmin">
							<a id="menuid-adminAndFalculty" href="#" class="Accounts" title="Account Creation">Account Creation</a>
						</li>

						<!--<li class="tutors" ng-show="isadmin">
							<a id="menuid-adminAndFalculty" href="#" class="tutors" title="tutors">Tutors</a>
						</li>-->
					</ul>
				</div>
			</div>
		</nav>
	</body>
</html>
