<!doctype html>
<!-- ng-app"tutorCS" defines the angular app that we are using, the name is defined under the tutorcs.module.js -->
<html lang="en" ng-app="tutorcs"><head>
		<!-- metadata -->
		<meta charset="utf-8"></meta>
		<meta name="author" content="Informatics Project Group 4, Cameron Gitlaff, Tram Messerly, Conlan Murphy"></meta>

		<!-- shows on tabs and bookmarks-->
		<title>Hawkeye Homework Hackers - Student</title>

		<!-- set base url -->
		<base href="https://webdev.cs.uiowa.edu/~cgitzlaff/tutorCS/">
		
		<!-- These are the links to bootstrap code -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>


		<!-- link to angular -->
		<script src="js/angular.min.js"></script>

		<!-- angular code we wrote -->
		<!-- tutorcs.module.js is where we define the angular app called 'tutorcs'. we use the name of the app in the html element at the top of the file -->
		<script src="js/tutorcs.module.js"></script>

		<!-- data.tutorcs.controller.js is where we are getting the data from. It defines a controller under the 'tutorcs' app called 'dataControl', and data is under $scope.data -->
		<script src="js/data.tutorcs.controller.js"></script>
		<script src="js/datastudschedule.tutorcs.controller.js"></script>
		<script src="js/dataavail.tutorcs.controller.js"></script>
		
		<!-- tutorcs.filter.js enables us to display HTML Code -->
		<script src="js/tutorcs.filter.js"></script>

		<!--link to font awesome -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<!--link to css file -->
		<link rel="stylesheet" type="text/css" href="styles/stylefile.css"/>

	</head>
	<body>
		<!--Nav bar -->
		<!--Hamburger collapsing System for smaller screens -->
		
		<!-- header links from header.html file  -->
		<div ng-include ng-controller="dataControl" ng-int="menuHightlight = 2;" src="'pages/header.html'"></div>
	
		<div class="container">
			
      		<div ng-controller="dataControl" ng-init="checkifloggedin()" ng-show="!isloggedin">
				<h1> You are not authorized for this view</h1>
			</div>
			
			<div >
				
				<div class="row" style="padding-top:25px;">
					<div ng-controller="dataControl" ng-init="checkifloggedin()" ng-show="isloggedin">
						<div ng-repeat="account in data.userinfo | filter:query">
							<div class="col-md-4">
								<div class="embed-responsive embed-responsive-16by9">
									<!-- trustHtml is the filter that enables html to be put out. the name is defined under soccer.filter.js -->
									<span ng-bind-html="account.PROFILEPIC | trustHtml"></span>
								</div>
								<h2 class="text-center">{{account.FIRSTNAME}} {{account.LASTNAME}}</h2>
								<a href="pages/editprofile.html">
									<h5 class="text-center"  >edit profile</h5>
								</a>
								<hr>
								<div class="container" ng-controller="availControl" ng-init="checkifloggedin()">
									<h3>Remaing Tutoring Sessions</h3>
									<div ng-repeat="option in data.studentEnroll">
										<h5 style="padding-left: 20px">{{option.COURSE_NAME}} &nbsp
											<span class="label label-success">{{option.ALLOC_SESSIONS}}</span>
										</h5>
									</div>
								</div>
								<hr>
								<br>
								<h4>Quick Links</h4>

								<div class="list-group" ng-show="!isadmin">
									<a href="pages/student/viewcontent.html" class="list-group-item">My Course Content</a>
									<a href="pages/student/studentsessions.html" class="list-group-item">Find a Tutor</a>
								</div>

							</div>
						</div>
					</div>
					<div  ng-controller="studSchedControl" ng-init="checkifloggedin()">
						<h3> Upcoming Tutoring Sessions</h3>
						<br>
						<div class="col-md-8">
							<div ng-repeat="session in data.schedinfo">
								<p style="text-indent: 20px;"><b>{{session.SESSION_DATE | date: short}}</b> for {{session.COURSE_NAME}} ({{session.SEMESTER}})</p>
								<p style="text-indent: 40px;"> with {{session.FIRSTNAME}} {{session.LASTNAME}} at {{session.SESSION_START_TIME}} - {{session.SESSION_END_TIME}} | <a href="https://maps.uiowa.edu/mlh" target="_blank">301 MLH</a>
									<button class="btn btn-danger" ng-click="studentCancel(session.SESSION_ID,session.COURSE_ID)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</p>
								<br>
								<br>
							</div>
						</div>
						<br>
						<br>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer -->
		<div style="padding-top: 50px" ng-include src="'pages/footer.html'"></div>
	</body>
</html>
