<!doctype html>
<html lang="en" ng-app="avail">
	<!-- These are the links to bootstrap code -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

		<!-- set base url -->
		<!-- <base href="https://webdev.cs.uiowa.edu/~cgitzlaff/tutorCS/"> -->
	
		 <!-- link to angular-->
		<!-- Download from https://angularjs.org/ then upload to webdev server -->
		<script src="angular.min.js"></script>

		<!-- Angular code -->
		<!-- avail.module.js is where we define the angular app called 'avail'. We use the name of the app in the html element at the top of the file -->
		<script src="avail.module.js"></script>
		<script src="dataavail.controller.js"></script>

<head>
<meta charset="utf-8">
<title>Student Sessions</title>
</head>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class = "row">
				<h1>Student Sessions</h1>  
			</div>
		</div>
	</div>

<body>	
	<div class="container" ng-controller="availControl">
	<div class="col-md-8 col-md-offset-2">
	<div class="row">
            
            <!-- Card for all times -->
            <!-- We are getting our data from $scope.data in data.avail.controller.js. The JSON object we get has the data under "times" -->
            <!-- We are defining each "row" of data as player -->
            <!-- | filter:query is used to filter the data based on the text entered in the input field above with ng-model="query[queryBy]", and using $scope.query and $score.queryBy variables defined in the controller -->
            <div class="card m-1" style="width: 18rem" ng-repeat="avail in data.avail" | filter:query>
				<div ng-init="setEditMode(false, avail);"></div>
				
					<div class="card-header">
					   TUTOR_HAWKID: {{avail.TUTOR_HAWKID}}
					</div>
                
					<div class="card-body">
						<p>SESSION_DATE:{{avail.SESSION_DATE}}</p>
						<p>SESSION_START_TIME: {{avail.SESSION_START_TIME}}</p>
						<button class="btn btn-primary" ng-click="deleteSession(avail.HAWKID, avail.AVAILSLOTID)">Cancel Session</button>
						<button class="btn btn-primary" ng-click="addSession(avail.HAWKID, avail.AVAILABLE)">Add Session</button>
						<button class="btn btn-primary" ng-click="dropSession(avail.HAWKID, avail.AVAILABLE)">Drop Session</button>
					</div>
         
            </div>
                   <!-- Footer -->
        
        </div>
	</div>
	</div>
</body>
</html>
