{
	margin: 0px;
	padding: 15px;
	}
body{
	background-image: url(../images/stock/tutoring.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: darkblue;
	
	}