html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 100px;
  min-height: 100%;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: 50px;
}


thead {
	background-color: lightgray;
}


.jumbotron{
	margin-top: -5px; 
	height: 400px; 
	background-image: url("https://webdev.cs.uiowa.edu/~cgitzlaff/tutorCS/images/workingtogetherfade.jpg");
	background-size: cover;
}
